*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

.mainColor{
  color:#28285f;
}
.subColor{
  color:#444F60;
}
img{
  max-width:100%;
  height: auto;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
:not(i) {
  font-family: ShoblyArabic, "Nexa Bold" !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html {
  direction: rtl;
}

/* NavBar */
.nav{
  transition: all 0.8s;
}
.btn-user{
  background-color: #0063ff !important;
  border: none ;
  transition: all 0.5s;
}
.btn-user:hover{
  box-shadow: 0 14px 26px -12px rgb(3 155 229 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(3 155 229 / 20%) !important;
  opacity: .7;
}
/* Header */



.header{
  padding-top: 70px ;
  background:#fff url(https://static.shobly.com/landing/pattern.svg);
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  z-index: 6; 
}
.imgHeader{
  position: absolute;
  top: unset;
  bottom: -50px !important;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  z-index: 1 !important;
}
.header-form {
   z-index: 10;
}

.header-form input::placeholder { 
  color:#ccc;
  opacity: 1; 
}

.mockup-wrap .image-wrap {
  max-width: 840px;
  margin: 0 auto;
}

.pricing-wrapper {
  padding: 30px 0;
  max-width: 900px;
  margin: 0 auto;
}

.pricing-wrapper .pricing-box {
  padding: 20px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #fff;
  border-radius: 10px;
  background: #fff;
  text-align: center;
}

.pricing-wrapper .pricing-box h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #0063ff;
}
.pricing-wrapper .pricing-box>p {
  margin-bottom: 16px;
  color: #999;
}
.price {
  position: relative;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  margin-bottom: 16px;
}

.pricing-wrapper .pricing-box .price .price-number::after {
  content: "شهريا";
  top: 6px;
  right: 40px;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(153, 153, 153);
  text-align: left;
  text-transform: uppercase;
  max-width: 50px;
  line-height: 1.2;
}

/* .columns {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  margin-top: -0.75rem;
}

.columns:last-child {
  margin-bottom: -0.75rem;
} */
/* Footer */
.footer-light-medium {
  padding-bottom: 0 !important;
  padding-top: 4rem !important;
  background: #fafafa;
}

.footer-light-medium .footer-head {
  padding-bottom: 3rem;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
}


.footerList li:not(:first-child):hover ,
.fab:hover{
  color:#0063ff !important;
  cursor: pointer;
}

.footerList li{
  padding:5px;
}

.column-header{
  font-family: "Nexa Light",sans-serif;
  text-transform: uppercase;
  color: #444F60;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 0;
}

.blog-img{
  filter: grayscale(100%);
  display: block;
  border-radius: 6px;
  box-shadow: 0 14px 26px -12px rgb(3 155 229 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(3 155 229 / 20%) !important;

}
.blog-content{
  padding: 20px;
}

.blog-content h3{
  color: #0063ff;
  transition: all .3s;
  font-size: 1.4rem;
  font-weight: 500;
}

.blog-content h3:hover{
opacity: .5;
}

.blog-content a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}
.read-more {
  display: flex;
  align-items: center;
  padding: 16px 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: #0063ff;
}
.read-more:hover{
  color:rgb(29, 29, 29)
}

.post-image img{
  display: block;
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 14px 26px -12px rgb(3 155 229 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(3 155 229 / 20%) !important;
}
.post-content {
  flex-grow: 2;
  padding: 0 20px;
}
.post-content h3 {
  font-family: "Nexa Bold",sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #0063ff;
  margin-bottom: 6px;
}
.post-content p {
  font-size: 1rem;
  color: #999;
}

.blog-post {
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.content-wrapper{
  padding-top: 40px;
  max-width: 1152px;
  margin: 0 auto;
}

.post-content h3:hover{
  opacity: .5;
  }


  .about-container{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0 20px 0;
    max-width: 780px;
    margin: 0 auto;
}
.about-card{
  padding: 20px;
  border-radius: 16px;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #fff;
  background: #fff;
}

.about-icons{
  margin: 0 auto;

}
.about-icons img{
max-width: 70%;
max-height: 70%;
}